body, html {
	height: 100%;
	text-align: center;
	margin: 0;
	width: 100%;

}

h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 15px;
}
h5{
	font-size: 12px;
}
p {
	font-family: Helvetica, serif;
	font-size: 12px;
	word-wrap: break-word;
}
.title {
	font-style: italic;
}

.container {
	font-size: 80px;
}

.intro {
	padding: 350px 0;
	font-size: 60px;
	font-family: Helvetica, sans-serif;
	color: white;
	background-image: 
		url("./picture/DSC_7661.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.intro h1 {
	font-size: 85px;
}
.intro h3 {
	font-style: italic;
	font-size: 40px;
}

.worklogo {
	padding-top: 5%;
}

.jumbotron h1{
	text-align: center;
}

.logo {
	max-width: 50%;
	height: auto;
}
.icons {
  	position: relative;
  	padding: 20px;
  	width: 100%;
}
.icons a {
	padding: 0 20px;
}


.dicon {
	padding: 20px;	
}

#heading {
	font-size: 32px;
}