body, html {
	height: 100%;
	text-align: center;
	margin: 0;
	width: 100%;

}

h2{
	font-size: 15px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 15px;
}
h5{
	font-size: 12px;
}
p {
	font-family: Helvetica, serif;
	font-size: 12px;
	word-wrap: break-word;
}


.container {
	font-size: 20px;
}

.intro {
	font-size: 60px;
	font-family: Helvetica, sans-serif;
	color: white;
	background-image: 
		url("./picture/DSC_7661.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 300px 0;
}
.intro h1 {
	font-size: 90px;
}
.intro h3 {
	font-style: italic;
	font-size: 40px;
}

.worklogo {
	border-style: solid;
	border-color: black;
}

.jumbotron h1{
	text-align: center;
}

.logo {
	max-width: 100%;
	height: auto;
}

.dicon {
	padding: 20px;	
}

#heading {
	font-size: 32px;
}



.companyname {
	font-size: 22px;
}


.career a:hover {
    text-decoration:none;
}

.img {
  border-radius: 100%;
  display: inline-block;
  float: center;
  padding: 0px;
  margin: 15px;
  flex: 0 0 150px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  
}

.img img {
  height: 100%;
  display: inline-block;
  float: center;
  padding: 0px;
  margin: 0px;
}

.img__overlay_github {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s;
  z-index: 1;

}

.img__overlay_github:hover {
  opacity: 1;

}

.img__overlay_github {
  background-color: rgba(46,204,113,0.4);
  background: linear-gradient(135deg, rgb(77,87,94), rgb(64,70,79));
  color: #fafafa;
  font-size: 13px;
  font-weight: bold;
}

.img__overlay_email {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s;
  z-index: 1;

}

.img__overlay_email:hover {
  opacity: 1;
}

.img__overlay_email {
  background-color: rgba(46,204,113,0.4);
  background: linear-gradient(135deg, rgb(81,117,168), rgb(76,109,155));
  color: #fafafa;
  font-size: 13px;
  font-weight: bold;
}



.img__overlay_linkedin {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s;
  z-index: 1;
}

.img__overlay_linkedin:hover {
  opacity: 1;
}

.img__overlay_linkedin {
  background-color: rgba(46,204,113,0.4);
  background: linear-gradient(135deg, rgb(1,115,178), rgb(4,107,164));
  color: #fafafa;
  font-size: 13px;
  font-weight: bold;
}



.img__overlay_resume {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s;
  z-index: 1;
}

.img__overlay_resume:hover {
  opacity: 1;
}

.img__overlay_resume {
  background-color: rgba(46,204,113,0.4);
  background: white;
  color: black;
  font-size: 13px;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  border-radius: 50%
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
	
}
.companyname {
  display: inline-block;
  font-size: 22px; 
  border-style: solid;
  border-color: black;
  margin: 0px 0px;
  padding: 0px 0px;
}

.location {
  float: right;
  font-size: 22px;
  position: relative;
  
  border-style: solid;
  border-color: black;
}

.title {
  display: inline-block;
  font-size: 15px; 
  font-style: italic;
  border-style: solid;
  border-color: black;
}

.duration {
  float: right;
  font-size: 15px;
  position: relative;
  margin-top: 0px;
  border-style: solid;
  border-color: black;
}